extends layout

block content
  div(class="ui container")
    div(class="ui header")
    br
    div(class="ui grid")
      div(class="four wide column")
        div(class="ui vertical fluid tabular menu")
          each site in sites
            a(class="item active") 
              =site.title
              div(class="ui label")=site.unread_num
      div(class="twelve wide stretched column")
        div(class="ui relaxed divided list")
          each item in feeds
            div(class="item")
              div(class="content")
                a(class="header")= item.title
                p(class="description")= item.pubDate
